@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

:root {
  --primary-light: #2d679c;
  --primary-dark: #284770;
  --text-light: #e9f0fb;
  --text-medium: #c4cbd2;
  --text-dark: #535455;
  --red: #d55757;
  --dark-red: #aa2222;
}

::placeholder { font-size: 0.9rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  outline: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {  
  height: 100vh;
  width: 100vw;
  background-color: var(--text-medium-light);
}

body.app {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
    "navbar content";
}

.content {
  grid-area: content;
  overflow-y: scroll;
}

/* PAGE TITLE */
.page-title-container {
  display: flex;
  align-items: center;
  width: 95%;
  height: 90px;
  margin: auto;
  padding: 10px;
  
  z-index: 100;

  position: sticky;
  top: 20px;

  background-image: linear-gradient(
    var(--primary-dark), 
    var(--primary-dark), 
    var(--primary-light) 
  );

  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0, 0.3);
}

.page-title-container .page-text .page-title span {
  color: var(--text-medium);
  font-size: 0.9rem;
  padding-left: 10px;
}

.page-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 50px;

}

.page-icon>img {
  width: 50px;
}

.page-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-light);
  
}

.page-description {
  font-size: 0.9rem;
  color: var(--text-medium);
}

/* PAGE LAYOUT */
.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
  padding: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  width: 100%;
}

.group {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
}

.label {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
  white-space: nowrap;
}

.field {
  padding: 5px 0px;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1070px) {
  .page { width: 97%; }
  .group { padding: 0px 5px; }
}

@media only screen and (max-width: 995px) {
  body.app {  grid-template-columns: 200px 1fr; } 
  .page-title-container .page-text .page-title span { display: none; }
  .page-title-container {
    width: 98%;
    top: 10px;
  } 
  .label { font-size: 0.8rem }
  .field { font-size: 1rem }
}

@media only screen and (max-width: 815px) {
  body.app {  grid-template-columns: 180px 1fr; } 
  .page-icon {
    padding-left: 10px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 775px) {
  body.app {  grid-template-columns: 60px 1fr; } 
  
  .page-title-container {
    height: auto;
    width: 100%;
    top: 0px;
    border-radius: 0px;
    align-items: center;
  }

  .page-description {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 415px) {
  .page-title { font-size: 1.4rem; }
  .page-description span span{ display: none; }
}
/* ERRORS */
.invalid-msg {
  height: 10px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--dark-red);
}

.problem {
  height: 40px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-light);
  background-color: var(--dark-red);
  box-shadow: 0px 0px 5px 2px var(--red);
  padding: 3px;
  border-radius: 50px;
}

/* GENERAL */
.text-center { text-align: center; }
.no-resize { resize: none; }

.normal-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-dark);
  padding: 15px;
}

.normal-link:hover { color: var(--primary-light); }

.hover-area {
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--text-light);
  transition: 0.2s ease-out;
}
.hover-area:hover {
  background-color: var(--text-light);
  filter: brightness(96%);
}

.border-top-primary { border-top: 1px solid var(--primary-light); }
.border-bottom-primary { border-bottom: 1px solid var(--primary-light); }

.bgc-primary { background-color: var(--primary-light)}
.bgc-primary-dark { background-color: var(--primary-dark)}
.bgc-red { background-color: var(--red)}
.bgc-dark-red { background-color: var(--dark-red)}

.grid-size-1 { grid-column: span 1; }
.grid-size-2 { grid-column: span 2; }
.grid-size-3 { grid-column: span 3; }
.grid-size-4 { grid-column: span 4; }
.grid-size-5 { grid-column: span 5; }
.grid-size-6 { grid-column: span 6; }
.grid-size-7 { grid-column: span 7; }
.grid-size-8 { grid-column: span 8; }
.grid-size-9 { grid-column: span 9; }
.grid-size-10 { grid-column: span 10; }

.action-area { margin-top: 20px; }

h3 {
  padding-top: 40vh;
  color: var(--text-dark);
  text-align: center;
}