.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  padding: 10px 0px;
  width: 20vw;
  min-width: 150px;
  
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  
  color: var(--text-light);
  border: none;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}

.button-field {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding-bottom: 10px;
  position: sticky;
  bottom: 0px;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
}

.btn:hover {
  letter-spacing: 1px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0, 0.2);
}

.btn-primary {
  background-color: var(--primary-dark);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
  filter: brightness(150%);
}

.btn-danger {
  background-color: var(--dark-red);
}

.btn-danger:hover {
  background-color: var(--dark-red);
  filter: brightness(150%);
}

.btn-neutral {
  color: var(--text-dark);
  background-color: var(--text-medium);
}

.btn-neutral:hover {
  background-color: var(--text-medium);
  filter: brightness(110%);
}

.normal-btn { 
  font-size: 0.9rem;
  border-radius: 5px;
  color: var(--text-light); 
  transition: 0.2s letter-spacing;
}
.normal-btn:hover { letter-spacing: 1px; }

@media only screen and (max-width: 530px) {
  .btn{
    margin-top: 50px;
  }

  .button-field {
    position: relative;
    flex-direction: column-reverse;
  }
}