.show-page {
  max-height: 550px;
}

.show-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.show-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-field {
  padding: 25px 10px;
}


.show-label {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 5px;
}

.show-data {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;

  padding: 5px 0px;
  border: none;
  border-top: 1px solid var(--primary-light);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}



