.show-page {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
  padding: 10px;

}

.show-row {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  justify-content: center;
  width: 100%;
}

.show-group {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
}


.show-label {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
}

.show-data {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;

  padding: 5px 0px;
  border: none;
  border-top: 1px solid var(--primary-light);
}



