.input-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
  padding: 10px;
}

.input-row {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  justify-content: center;
  width: 100%;
}

.input-group {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
}

.form-input {
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid var(--primary-light);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.form-text-area {
  resize: none;
}