.table-container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container table {
  width: 95%;
  border-collapse: collapse;
}

.table-container table thead tr td {
  color: var(--text-dark);
  font-weight: 300;
}

.table-container table tbody {
  background-color: var(--text-medium);
  filter: brightness(110%);
}

.table-container table tbody tr:hover {
  background-color: var(--text-medium);
  filter: brightness(94%);
}

.table-container table tbody tr td, 
.table-container table thead tr td {
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 995px) {
  .table-container table { width: 98%; }
}

@media only screen and (max-width: 775px) {
  .table-container table { width: 100%; }
}

@media only screen and (max-width: 700px) {

  .table-container {
    overflow-x: scroll;
  }

  .table-container table {
    display: flex;
    flex-direction: row;
  }
  
  .table-container table thead { 
    display: flex;
    flex-direction: row;
  }

  .table-container table thead tr { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 150px;
    padding-bottom: 20px;
  }
  .table-container table tbody { 
    display: flex;
    flex-direction: row;
  }
  
  .table-container table tbody tr { 
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-light);
  }

  .table-container table thead tr td {
    background-color: var(--text-light);
  }
  
  .table-container table thead tr td,
  .table-container table tbody tr td { 
    border-bottom: 1px dashed var(--primary-light);
    background-color: var(--text-medium);
    filter: brightness(110%);
  }

  .table-container table thead tr .table-empty,
  .table-container table tbody tr .table-action {
    border: none;
  }
}

@media only screen and (max-width: 530px) {
  .table-container {
    margin: 0;
  }
}
